<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutiset</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
         <style>
            .col-md-4{
                background-color: #ef5b5b;               
            }         
        </style>
    </head>

    <body>
        <header th:replace="fragments/header :: header">
            <p>linkit</p>
        </header>

        <div class="col-md-8 border-right-0">
            <h1>Tuoreimmat uutiset</h1>
            <div th:each="newsItem : ${latest}">
                <a th:href="@{/news/{id}(id=${newsItem.id})}">
                    <h2 th:text="${newsItem.heading}">otsikko</h2>
                    <h3 th:text="${newsItem.lead}">ingressi</h3>
                    <img th:src="@{/images/{id}/content(id=${newsItem.id})}"/>
                </a>
            </div>
        </div>
        
        <div class="col-md-4">
            <h1>Kaikki uutiset</h1>
            <div class="list-group" th:each="newsItem : ${sideNews}">
                <a class="list-group-item" th:href="@{/news/{id}(id=${newsItem.id})}">
                    <h2 th:text="${newsItem.publishDate + ' ' +newsItem.heading}">otsikko</h2>
                    <h3 th:text="${newsItem.lead}">ingressi</h3>
                </a>
            </div>
        </div>
        
        
        
    </body>
</html>